body {
    background-color: #ffffff;
}

div#player_rail > div {
    clear: both;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
    left: 0px;
}

button#btn_start {
    position: absolute;
    top: 600px;
    left: 0px;
}

#wrap {
    width: 40px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 1386px;
    background: gray;
    opacity: 20%;
    /*border-radius:0 10px 0 10px;*/
}

#test {
    width: 40px;
    height: 550px;
    /*border-radius:10px 0 0 0;*/
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    color: blue;
    font-size: 23px;
}

div#player_rail > div > span {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 10px;
    height: 10px;
    color: white;
    font-weight: bold;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

div#winner_show {
    position: absolute;
    top: 10%;
    left: 32%;
}

div#winner_show > ol {
    font-weight: bold;
    font-size: 30px;
}

div#names {
    position: absolute;
    top: 60%;
    left: 60%;
}